.form_div {
  max-width: 700px;
  margin: 20px auto;
  background-color: rgb(0, 192, 102);
  padding: 20px;
  border-radius: 6px;
}
.textAreaClass {
  width: 100%;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
}
