.m-70 {
  margin-top: 70px !important;
}
.userBox {
  padding: 15px;
  width: 250px;
  border: 1px solid #000;
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
  width: fit-content;
}
.drpheight {
  min-height: 30px;
  outline: 0;
}
.word_limit {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 auto;
}
